<!doctype html>
<html ng-app="bdApp">
    <head>
        <title>Testing Wiki Infobox Parser</title>
        <meta charset="UTF-8"/>
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="bdController">
        <input type="text" ng-model="title" />
        <button ng-click="search()">Search</button>
        {{box}}
        <h3>Birth Date</h3>
        {{birthD}}
        <h3>Death Date</h3>
        {{deathD}}
        <h3>Birth Place</h3>
        {{birthP}}
        <h3>Death Place</h3>
        {{deathP}}
    </body>
</html>